@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {

}
*{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin-left: 25px;

}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.hero{
    width: 100%;
    margin-bottom: 150px;


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    max-height: 60px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #ffffff;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #FF0000;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #FF0000;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.buttons{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #FF0000;
    border: 2px solid #FF0000;
}
.buttons:hover{
    background: transparent;
    border-color: #FF0000;
    color: #FF0000;
}
.content{

}
.content .title{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 5px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#FF0000 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #ffffff;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    line-height: 15px;
    text-transform: inherit;
    width: 70%;
}

.content h4{
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
    line-height: 15px;
    text-transform: inherit;
    width: 70%;
}

.content ul li{
    color: #ffffff;
    list-style-type: square;
}


.content h1 span{
    color: #FF0000;
}
.content p{
    width: 55%;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 30px;
}

.footer{
    font-family: 'Poppins', sans-serif;
    
    
}