@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    margin: 0px;
}

/* Start remove <a> link preconceptions */
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/* End remove <a> link preconceptions */

.hero{
    width: 100%;
    padding: 5em 18em 5em 18em;
}

/* Nav Section */
#nav-bar{
    padding: 0 0 0 0;
    text-align: center;
}

nav{
    justify-content: space-between;
    padding: 5em 5em 5em 5em;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 0 0 5em
}
nav ul li a{
    color: #ffffff;
    position: relative;
    padding: 0 0 0 0;
}
nav ul li a:hover{
    color: #FF0000;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #FF0000;
    transition: 2s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}

/* Nav Section */

#about-me{
    padding: 0 20em 0 20em;
    text-align: right;
}

#experience{
    padding: 0 20em 0 20em;
    text-align: left;
}


.buttons{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #FF0000;
    border: 3px solid #000000;
}
.buttons:hover{
    background: transparent;
    border-color: #FF0000;
    color: #FF0000;
}
.content{

}
.content .title{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#FF0000 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #ffffff;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
}
.content h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    line-height: 15px;
    text-transform: inherit;
}

.content h4{
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
    line-height: 15px;
    text-transform: inherit;
}

.content ul li{
    color: #ffffff;
    list-style-type: square;
}


#name-highlight{
    color: #FF0000;
}
.content p{
    
    color: #ffffff;
    
}

footer{
    text-align: center;
}

#logo-container{
    background-color: rgb(231, 217, 217);
}